@import '../../scss/variables';

.card {
  position: relative;
  display: flex;
  justify-content: flex-end;
  border: 1px solid $black;
  border-radius: 10px;
  background: $greedGradiend;
  padding: 21px 27px 29px;
  margin-bottom: 16px;
  overflow: hidden;

  @media (max-width: 768px) {
    max-width: 290px;
    margin: 0 auto 20px;
    padding: 0;
  }

  &::before {
    content: url('images/dino.svg');
    position: absolute;
    left: 15px;
    bottom: 0;
    width: 56px;

    @media (max-width: 768px) {
      top: 120px;
      right: 6px;
      left: auto;
      bottom: auto;
      width: 35px;
      transform: scale(-1, 1);
    }
  }

  &:last-child {
    margin-bottom: 0;
  }


  &::after {
    content: url('images/asteroid.svg');
    position: absolute;
    top: 26px;
    left: 121px;
    width: 71px;
    z-index: 0;

    @media (max-width: 768px) {
      top: 21px;
      left: 26px;
    }
  }

  &_asteroid_md {
    &::after {
      top: -80px;
      left: 72px;
      width: 186px;

      @media (max-width: 768px) {
        top: -26px;
        left: 26px;
        width: 108px;
      }
    }
  }

  &_asteroid_lg {
    background: $pinkGradient;

    &::after {
      top: -487px;
      left: -99px;
      width: 598px;

      @media (max-width: 768px) {
        top: -266px;
        left: -42px;
        width: 338px;
      }
    }
  }

  &__content {
    display: flex;

    @media (max-width: 768px) {
      flex-direction: column;
      background-color: $white;
      width: 100%;
      margin-top: 150px;
      padding: 16px 16px 20px;
    }
  }

  &__info {
    flex-grow: 1;
    max-width: 290px;
    margin-right: 100px;
    z-index: 1;

    @media (max-width: 768px) {
      margin-right: 0;
    }
  }

  &__title {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 700;
    color: $black;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 2px solid $black;
    margin-bottom: 20px;
    transition: .3s;
    user-select: none;

    @media (max-width: 768px) {
      position: absolute;
      top: 108px;
      margin-bottom: 0;
    }

    &:hover {
      color: $gray;
      border-color: $gray;
    }
  }

  &__row {
    display: flex;
    margin-bottom: 13px;
  }

  &__row-line {
    flex-grow: 1;
    min-width: 40px;
    border-bottom: 1px dotted $black;
    margin: 0 0 3px 3px;
  }

  &__rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 19px;
  }

  &__rating-title {
    font-weight: normal;
    font-size: 1rem;
    margin-bottom: 5px;
  }

  &__rating-text {
    font-weight: bold;
    margin-bottom: 12px;
  }
}