@import './variables';
@import '_fonts.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: $black;
}

html,
body,
.App,
#root {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-width: 950px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  display: block;
  font-family: Helvetica;
  font-size: 1rem;
  color: $white;
  border: none;
  background-color: $blue;
  padding: 14px 16px;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color .3s;

  &_center {
    margin: 0 auto;
  }

  &:hover {
    background-color: darken($blue, 5);
  }
}